<h1>Registro de Productos ROCHE POSAY </h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item> 
      <nz-form-label [nzSpan]="7" nzRequired>Producto</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="Product" placeholder="exfoliante facial" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item> 
      <nz-form-label [nzSpan]="7" nzRequired>price</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="price" placeholder="18,00" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Cantidad</nz-form-label>
      <nz-form-control [nzSpan]="7">
                <nz-input-number formControlName="Cantidad" nzPlaceHolder="dos"></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item> 
      <nz-form-label [nzSpan]="7" nzRequired>Tamaño</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="tamaño" placeholder="pequeño" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item> 
      <nz-form-label [nzSpan]="7" nzRequired>descuento</nz-form-label>
      <nz-form-control [nzSpan]="7">
  <input nz-input formControlName="descuento" placeHolder="no" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item> 
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 12, offset: 5 }">
        <button nz-button nzType="primary">Create</button>
      </nz-form-control>
    </nz-form-item>
  
  </form>
  